{% block body %}
<h2>dis index yay</h2>
<h2>{{ led }} </h2>
<h3>{{ user_data }} </h3>
{{log_stat}}
<form action="{% url 'carsys:logout' %}">
    <input type="submit" value="Logout" />
</form>
<form action="" method="post">
{% csrf_token %}
  <input type="radio" name="led" value="On"
  {% ifequal led "On" %}
  checked
  {% endifequal %}
  > On<br>
  <input type="radio" name="led" value="Off" 
  {% ifequal led "Off" %}
  checked
  {% endifequal %}
  > Off<br>
  <input type="submit" value="Submit" />
</form>
{% endblock%}