{% extends 'carsys/base.html' %}

{% block body %}

<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'carsys/form_template.html' %}
            
            Username: <input class="form-control" type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
                        
            <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}